.feature-box-items {
    margin-top: 30px;
    background-color: $bg-color;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    z-index: 9;

    &::before {
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        -webkit-transform: scale(1, 0.3);
        transform: scale(1, 0.3);
        background-color: $theme-color;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        z-index: -1;
        border-radius: 10px;
    }

    h6 {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -1px;
        margin-bottom: 25px;
    }

    h3 {
        margin-bottom: 20px;
    }

    .feature-info-box {
        background-color: $white;
        margin-top: 55px;
        border-radius: 7px;
        padding: 25px;
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-xxl){
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 30px;
        }

        ul {
            @include flex;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 10px;
            }

            li {
                border-radius: 50px;
                border: 1px solid #E6E8EB;
                font-size: 16px;
                font-weight: 500;
                color: $header-color;
                font-family: $heading-font;
                padding: 0 12px;
                height: 30px;
                line-height: 28px;
                @include transition;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                    border: 1px solid $theme-color;
                }
            }
        }

        .icon {
            display: inline-block;
            width: 43px;
            height: 43px;
            line-height: 43px;
            border-radius: 50%;
            background-color: $header-color;
            text-align: center;
            color: $white;

            &:hover {
                 background-color: $header-color !important;
            }
        }
    }

    &:hover {
        h6,h3,p {
            color: $white;
        }

        h3 {
            a {
                color: $white;
            }
        }
        &::before {
            opacity: 1;
            transform: scale(1, 1);
        }

        .icon {
           background-color: $theme-color !important;
        }
    }
}

.feature-wrapper {
    margin-right: -40%;

    @include breakpoint (max-xxxl){
        margin-right: -35%;
    }

     @include breakpoint (max-xxl){
        margin-right: -55%;
    }

    @include breakpoint (max-sm){
       margin-right: 0;
    }
}

.counter-feature-section {
    border-radius: 16px 16px 0 0;
    // padding: 150px 0 150px;
    height: 700px !important;
    position: relative;
    overflow: hidden;
    padding-top: 150px !important;

    @include breakpoint (max-lg){
      height: 790px !important;
      padding-top: 100px !important;
    }
}

.counter-feature-section-area {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    margin: 0 30px;

    @include breakpoint (max-xxl){
        margin: 0;
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
}


.feature-counter-content {
    h2 {
        color: $white;
        font-size: 72px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -2px;

        @include breakpoint(max-xxl){
            font-size: 60px;
        }

        @include breakpoint(max-xl){
            font-size: 55px;
        }

        @include breakpoint(max-lg){
            font-size: 60px;
            line-height: 120% !important;
        }

        @include breakpoint(max-md){
            font-size: 55px;
        }

        @include breakpoint(max-sm){
            font-size: 44px;
        }

        @include breakpoint(max-xxs){
            font-size: 34px;
        }
    }

    p {
        color: $white;
        font-weight: 400;
        line-height: 160.556%;
        max-width: 570px;
        margin-top: 25px;
    }

    .gt-theme-btn-main {
        margin-top: 30px;

        .gt-theme-btn-arrow-left,.gt-theme-btn-arrow-right {
            background-color: $white;
            color: $header-color-2;
        }

        .gt-theme-btn {
            background-color: $white;
            color: $header-color-2;
        }

        &:hover {
            .gt-theme-btn-arrow-left,.gt-theme-btn-arrow-right {
                background-color: $theme-color-2;
                color: $white;
            }

            .gt-theme-btn {
                background-color: $theme-color-2;
                color: $white;
            }
        }
    }
}

.feature-counter-box-items {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    padding: 60px 60px;

     @include breakpoint (max-xxl){
        padding: 40px 30px;
        max-width: 400px;
    }

    h2 {
        color: $white;
        font-size: 196.501px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -10px;
        font-family: $body-font;

        @include breakpoint (max-xxl){
            font-size: 100px;
        }

        sup {
            font-size: 50px;
            line-height: 1;
            top: -2.2em;
            right: 30px;

            @include breakpoint (max-xxl){
                font-size: 50px;
                line-height: 1;
                top: -1em;
                right: 0px;
            }
        }
    }

    p {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -1px;
        font-family: $heading-font;

        @include breakpoint(max-lg){
            font-size: 16px;
            line-height: 160%;
        }

         @include breakpoint(max-xxs){
            font-size: 15px;
        }
    }
}

.choose-us-wrapper-2 {
    margin-top: 60px;

    @include breakpoint (max-md){
        margin-top: 30px;
    }

    .choose-us-wrap-item {
        display: flex;
        gap: 70px;
        //margin-top: 30px;

        @include breakpoint (max-xxl){
            gap: 34px;
        }

         @include breakpoint (max-xl){
            gap: 20px;
        }
        
        .choose-us-content {
            background-color: $bg-color-3;
            max-width: 535px;
            padding: 45px;
            border-radius: 12px;
            margin-bottom: 30px;
            position: relative;
            z-index: 9;

              &::before {
                position: absolute;
                content: "";
                inset: 0;
                opacity: 0;
                transform: scale(1, 0.3);
                background-color: $white;
                transition: all 500ms ease;
                border-radius: 8px;
                box-shadow: (0 4px 30px rgba(41, 15, 28, 0.10));
                z-index: -1;
                border-radius: 12px;
            }

            @include breakpoint (max-xl){
                padding: 28px;
            }

             @include breakpoint (max-lg){
               max-width: initial;
            }

            h3 {
                color: $header-color-2;
            }

            p {
                color: $header-color-2;
                margin-top: 15px;
            }

            &:hover {
                 &::before {
                    opacity: 1;
                    transform: scale(1, 1);
                }
            }
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: center;

             @include breakpoint (max-lg){
               display: none;
            }

            .number {
                width: 60px;
                height: 60px;
                background: $header-color-2;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-weight: 500;
                color: $white;
                flex: 0 0 auto;
                font-family: $heading-font;
                 position: relative;
                 z-index: 9;
                        
            }

            .number-line {
                width: 8px;
                height: 100%; // fix a certain height for visible animation
                border: 1px solid $bg-color-3;
                border-top: none;
                position: relative;
                overflow: hidden;
                background-color: $bg-color-3;
            }

            .number-line-fill {
                width: 100%;
                height: 100%;
                background: $theme-color-2;
                border-radius: 0;
                transform: scaleY(0);
                transform-origin: top;
            }
        }
    }

    .choose-us-image {
        margin-left: -30px;
        height: 723px;
        border-radius: 14px;

         @include breakpoint (max-xxl){
            margin-left: 0;
        }

        img {
            @include imgw;
            border-radius: 14px;
            object-fit: cover;
        }
    }
}

.choose-us-wrapper-3 {
    .choose-us-image {
        position: relative;
        border-radius: 12px;

        img {
            @include imgw;
            border-radius: 12px;
        }

        .grap-shape {
            position: absolute;
            bottom: 30px;
            right: 30px;
        }
    }

    .choose-us-content {
        margin-left: 30px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .choose-list {
            margin-top: 30px;

            li {
                display: flex;
                gap: 15px;
                padding: 26px 30px;
                border-bottom: 1px solid #E6EAEB;
                @include transition;

                @include breakpoint (max-sm){
                    flex-wrap: wrap;
                }

                .icon {
                    max-width: 80px;
                    width: 100%;
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: $header-color-3;
                     @include transition;

                     @include breakpoint (max-sm){
                        height: 70px;
                        max-width: 70px;
                        line-height: 70px;
                        
                        img {
                            width: 30px;
                        }
                     }
                }

                .content {
                    h3 {
                        color: $header-color-3;
                    }

                    p {
                        color: $header-color-3;
                        margin-top: 10px;
                        max-width: 415px;
                    }
                }

                &.active {
                    background-color: $white;
                    box-shadow: 0 4px 30px 0 rgba(41, 15, 28, 0.10);
                    border-radius: 8px;

                    .icon {
                        background-color: $theme-color-3;

                         img {
                            -webkit-animation: gelatine 0.6s;
                            animation: gelatine 0.6s;
                        }
                    }
                }
            }
        }
    }
}

.feature-box-style-3 {
    margin-top: 30px;
    border: 1px solid #F0ECDF;
    padding: 40px 30px;
    position: relative;
    z-index: 9;
     @include transition;

     @include breakpoint (max-sm){
        padding: 30px 28px;
     }

     &::before {
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        -webkit-transform: scale(1, 0.3);
        transform: scale(1, 0.3);
        background-color: $bg-color-6;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        z-index: -1;
    }

    .icon {
        width: 72px;
        height: 72px;
        line-height: 72px;
        border-radius: 50%;
        text-align: center;
        background-color: $theme-color-6;
        @include transition;
    }

    .content {
        margin-top: 25px;
        overflow: hidden;

        h3 {
            color: $header-color-4;
            margin-bottom: 15px;
        }

        .arrow-btn {
            font-size: 16px;
            position: relative;
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            -webkit-transition: 0.7s;
            transition: 0.7s;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            color: $header-color-4;
            font-weight: 600;
            margin-top: 15px;
            font-family: $heading-font;
            text-transform: capitalize;

            &::before {
                position: absolute;
                font-weight: 600;
                color: $header-color-4;
                font-size: 16px;
                left: -95px;
                top: -2px;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                opacity: 0;
                content: "Explore more";
            }
        }
    }

    &.active {
        border: 1px solid $bg-color-6;

        &::before {
             opacity: 1;
            transform: scale(1, 1);
        }

        .icon {
            background-color: $theme-color-5;

            img {
                -webkit-animation: gelatine 0.6s;
                animation: gelatine 0.6s;
            }
        }

        .content {
            .arrow-btn {
                transform: translateX(95px);

                i {
                    margin-left: 14px;
                }

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.counter-box-style-5 {
    margin-top: 30px;
    position: relative;
    padding: 105px 30px;
    z-index: 9;
    text-align: center;

    @include breakpoint (max-md){
       padding: 70PX 30PX;
    }

     @include breakpoint (max-sm){
        background-color: $white;
        border-radius: 16px;
    }

    .icon {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        text-align: center;
        line-height: 85px;
        background-color: $bg-color-6;
        position: absolute;
        z-index: 9;
        top: 0;
        right: 30px;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            width: 72px;
            line-height: 72px;
            border-radius: 50%;
            height: 72px;
            background-color: $theme-color-5;
            transform: translate(-50%,-50%);
            z-index: -1;
            @include transition;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 308 340"><path fill-rule="evenodd" clip-rule="evenodd" d="M154 0L308 84.7917V254.375L154 339.167L0 254.375V84.7917L154 0Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        background-color: #FFFDF5;
        z-index: -1;
        @include transition;

        @include breakpoint (max-sm){
            display: none;
        }
    }

    h2 {
        font-size: 82px;
        font-weight: 600;
        color: $header-color-4;

        @include breakpoint (max-md){
            font-size: 70px;
        }
    }

    p {
        color: $header-color-4;
        font-family: $heading-font;
        font-size: 18px;
        font-weight: 500;
        margin-top: 18px;
    }

    &.active {
        &::before {
            background-color: $theme-color-5;
        }

        .icon {
            &::before {
                background-color: $theme-color-6
            }

            img {
                -webkit-animation: gelatine 0.6s;
                animation: gelatine 0.6s;
            }
        }
    }
}

.work-process-box-style-4 {
    margin-top: 40px;
    background-color: $bg-color-5;
    padding: 36px 30px;
    position: relative;
    z-index: 9;

    .content {
        position: relative;
        z-index: 99;

        span {
            display: inline-block;
            width: 48px;
            height: 48px;
            line-height: 48px;
            border-radius: 50%;
            text-align: center;
            color: $white;
            font-family: $heading-font;
            font-size: 20px;
            background-color: $header-color-4;
            font-weight: 600;
            margin-bottom: 28px;
            @include transition;
        }

        h3 {
            font-size: 32px;
            font-weight: 600;
            font-family: $heading-font;
            color: $header-color-4;
            letter-spacing: -1px;

            @include breakpoint (max-lg){
                font-size: 24px;
            }
        }

        p {
            font-size: 18px;
            color: $white;
            margin-top: 30px;
            opacity: 0;
            visibility: hidden;
            @include transition;
        }
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
        width: 100%;
        height: 100%;
        transform-origin: left top;
        transition: all 0.5s 0s ease-out;
        bottom: 0;

        &::before {
            @include before;
            opacity: 0.4;
            background: $black;
            z-index: 9;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .work-btn {
        display: inline-block;
        color: $header-color-4;
        font-family: $heading-font;
        font-weight: 600;
        margin-top: 175px;
        font-size: 16px;
         position: relative;
        z-index: 99;

        i {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            text-align: center;
            background-color: $header-color-4;
            color: $white;
            margin-left: 10px;
            @include transition;
        }

        &:hover {
            i {
                background-color: $theme-color-4;
                color: $white;
            }
        }
    }

    &.active {
        .content {
            span {
                color: $white;
                background-color: $theme-color-4;
            }

            h3 {
                color: $white;
            }

            p {
                opacity: 1;
                visibility: visible;
            }
        }

        .work-btn {
            color: $white !important;

            i {
                background-color: $theme-color-4 !important;
            }
        }

        .bg-image {
            transform: scale(1);
        }
    }
}

.award-section {
    border-top: 1px solid #EBE8E6;
}

.award-wrapper {
    .title {
        color: $theme-color-4;
        font-size: 122.704px;
        font-weight: 700;
        line-height: 100%; 
        letter-spacing: -3.408px;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include breakpoint (max-xl){
            letter-spacing: initial;
        }

        @include breakpoint (max-xl){
            font-size: 80px;
        }

        @include breakpoint (max-sm){
            font-size: 58px;
        }

        @include breakpoint (max-xxs){
            font-size: 44px;
        }
    }


    .award-box-items {
        background-color: $bg-color-5;
        margin-top: 30px;

        .icon {
            padding: 30px;
        }

        .award-title {
            font-size: 20px;
            font-weight: 600;
            color: $header-color-4;
            border-top: 1px solid #DFDCD2;
            padding: 30px;
        }

        &:hover {
            .icon {
                img {
                    animation: gelatine 0.6s;
                }
            }
        }
    }
}