//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	position: relative;
	
	.main-menu {
		ul {
			margin-bottom: 0;

			.menu-thumb {
					position: inherit;
				}

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 35px;

				
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 500;
				color: $header-color;
                font-family: $heading-font;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: capitalize;
				@include transition;

				i {
					margin-left: 4px;
                    font-size: 14px;
				}
	
				&:hover {
					color: $theme-color !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 100%;
				inset-inline-start: 0;
				min-width: 240px;
				background: $white;
				padding: 20px 0;
				border-radius: 10px;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 4px solid $theme-color;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 16px;
						font-weight: 500;
						color: $header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
                        padding-right: 22px;
						width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
					&:hover {
						>a {
							color: $theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				padding: 20px 20px 10px 20px !important;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: 0;
				right: 0;
				padding: 0;
				width: 100%;
				z-index: 999;
				overflow: hidden;
				margin: auto;

				.homemenu-items {
	

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
							
	
							.demo-button {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								text-align: center;
								opacity: 0;
								visibility: hidden;
								@include transition;
								margin-top: 20px;
								left: 25px;
								right: 25px;

								@include breakpoint (max-xxl){
									.gt-theme-btn {
										font-size: 14px;
										min-width: 140px;
									}
								}
	
								.theme-btn {
									padding: 5.5px;
									justify-content: center;
									line-height: 1;
									background-color: $theme-color;
									color: $black;
									border-radius: 30px;

									i {
										margin-left: 0;
									}
								}
							}
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}

							a {
								padding: 0;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 15px;
                            font-weight: 500;
                            font-family: $body-font;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;

					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}

	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
	}
}


//>>>>> Header 01 Start <<<<<//
.header-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	padding-top: 20px;

	.container {
		max-width: 1800px;
	}

	.mean__menu-wrapper {
		border-radius: 70px;
		background: rgba(255, 255, 255, 0.08);
		padding: 0 35px;
		@include flex;
		gap: 35px;

		@include breakpoint (max-xl){
			padding: 0;
			background-color: transparent;
			border: none;
		}

		.search-toggler {
			font-size: 22px;
			color: rgba(255, 255, 255, 0.75);

			&:hover {
				color: $theme-color;
			}
		}

		.main-menu {
			li {
				a {
					padding: 14px 0;
				}
			}

			ul {
		

			li {
				
	
				a {
					
					color: rgba(255, 255, 255, 0.75);

					i {
						margin-left: 4px;
						font-size: 14px;
					}
		
					&:hover {
						color: $theme-color !important;
					}
	
				}

			.submenu {
			
				background: $white;
				color: $header-color;
				border-top: 4px solid $theme-color;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

				li {
					a {
					
						color: $header-color;

						&::before {
							background: $theme-color;
						}

						&:hover {
							color: $theme-color !important;
						}
					}
					
			
					&:hover {
						>a {
							color: $theme-color !important;

							&::after {
								color: $theme-color;
							}
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				.homemenu-items {
					.homemenu {
						.homemenu-thumb {
							
							.demo-button {
							
								.theme-btn {
									padding: 5.5px;
									justify-content: center;
									line-height: 1;
									background-color: $theme-color;
									color: $black;
									border-radius: 30px;

									i {
										margin-left: 0;
									}
								}
							}
						}
	
						.homemenu-title {
							text-align: center;
                            font-family: $heading-font;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;

					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
		}
	}

	.sidebar__toggle {
		color: $white;

		&:hover {
			color: $theme-color;
		}
	}

	.header-right {
		.search-toggler,.sidebar__toggle {
			width: 55px;
			height: 55px;
			line-height: 55px;
			border-radius: 50%;
			text-align: center;
			color: rgba(255, 255, 255, 0.75);
			background-color: rgba(255, 255, 255, 0.08);

			@include breakpoint (max-sm){
				width: 42px;
				height: 42px;
				line-height: 42px;
			}
		}
	}
}

.header-section-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	.container {
		max-width: 1845px;
	}

	.header-top-2 {
		background-color: $header-color-2;
		padding: 14px 0;

		p {
			color: rgba(255, 255, 255, 0.70);
			font-size: 16px;
			font-weight: 500;
			letter-spacing: -1px;
			font-family: $heading-font;
			@include flex;
			justify-content: center;
			gap: 10px;

			@include breakpoint (max-sm){
				font-size: 14px;
			}

			a {
				color: $white;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -1px;

				@include breakpoint (max-sm){
					font-size: 14px;
				}

				i {
					margin-left: 5px;
				}

				&:hover {
					color: $theme-color-2;
				}
			}
		}
	}

	.header-2 {
		background-color: $white;

		.logo {
			@include breakpoint (max-sm){
				img {
					width: 120px;
				}
			}
		}

		.mean__menu-wrapper {
			
			.main-menu {

				ul {
					li {
						
			
						a {
							
							color: $header-color-2;

							i {
								margin-left: 4px;
								font-size: 14px;
							}
				
							&:hover {
								color: $theme-color-2 !important;
							}
			
						}

					.submenu {
					
						background: $white;
						color: $header-color;
						border-top: 4px solid $theme-color-2;
						box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

						li {
							a {
							
								color: $header-color;

								&::before {
									background: $theme-color-2;
								}

								&:hover {
									color: $theme-color-2 !important;
								}
							}
							
					
							&:hover {
								>a {
									color: $theme-color-2 !important;

									&::after {
										color: $theme-color-2;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: $theme-color-2;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									
									.demo-button {
										left: 15px;
										right: 15px;

										.gt-theme-btn-main {
											width: initial;
											justify-content: initial;
											display: initial;
										}

										.gt-theme-btn {
												padding: 9px 25px;
										}

										.gt-theme-btn-arrow-right {
												margin-left: -5px;
										}
									}
								}
			
								.homemenu-title {
									text-align: center;
									font-family: $heading-font;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color:  $theme-color-2;

							&::after {
								color:  $theme-color-2;
							}
						}
						>.submenu {
							visibility: visible;
							opacity: 1;
							transform: translateY(0px);
						}
					}
					}
				}
			}
		}

		.header-right {
			gap: 15px;
		}

		.search-toggler {
			width: 45px;
			height: 45px;
			line-height: 45px;
			border: 1px solid #E6E8EB;
			text-align: center;
			border-radius: 50%;

			&:hover {
				background-color: $theme-color-2;
				color: $white;
				border: 1px solid $theme-color-2;
			}
		}

		.sidebar__toggle {
			.gt-theme-btn {
				    padding: 8px 24px;
			}

			.gt-theme-btn-main .gt-theme-btn-arrow-left, .gt-theme-btn-main .gt-theme-btn-arrow-right {
				width: 45px;
				height: 45px;
			}

			.gt-theme-btn-main .gt-theme-btn-arrow-left {
				left: 12px;
			}
		}
	}
}

.header-3 {
	position: relative;
	z-index: 999;

	.mega-menu-wrapper {
		margin: 0 30px;
	}

	.header-right {
		gap: 20px;

		.social-icon {
			gap: 8px;

			@include breakpoint (max-xxl){
				display: none !important;
			}

			a {
				display: inline-block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 50%;
				background-color: $header-color-3;
				color: $white;
				text-align: center;
				font-size: 14px;

				&:hover {
					background-color: $theme-color-3;
				}
			}
		}
	}

	.mean__menu-wrapper {
			
			.main-menu {

				ul {
					li {
						
			
						a {
							
							color: $header-color-3;

							i {
								margin-left: 4px;
								font-size: 14px;
							}
				
							&:hover {
								color: $theme-color-3 !important;
							}
			
						}

					.submenu {
					
						background: $white;
						color: $header-color-3;
						border-top: 4px solid $theme-color-3;
						box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

						li {
							a {
							
								color: $header-color-3;

								&::before {
									background: $theme-color-3;
								}

								&:hover {
									color: $theme-color-3 !important;
								}
							}
							
					
							&:hover {
								>a {
									color: $theme-color-3 !important;

									&::after {
										color: $theme-color-3;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: $theme-color-3;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									
									.demo-button {
										left: 15px;
										right: 15px;

										.gt-theme-btn-main {
											width: initial;
											justify-content: initial;
											display: inline-block;
											padding-right: 7px;

											&:hover {
												.gt-theme-btn {
													padding-right: 25px;
													padding-left: 5px;
												}

												.gt-theme-btn-arrow-left {
													top: 6px;
												}
											}
										}

										.gt-theme-btn {
											padding: 9px 25px;
											display: inline-block;
											padding-right: 0;
										}

										.gt-theme-btn-arrow-right {
											margin-left: -5px;
										}
									}
								}
			
								.homemenu-title {
									text-align: center;
									font-family: $heading-font;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color:  $theme-color-3;

							&::after {
								color:  $theme-color-3;
							}
						}
						>.submenu {
							visibility: visible;
							opacity: 1;
							transform: translateY(0px);
						}
					}
					}
				}
			}
		}
}

.header-4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	.container {
		max-width: 1860px;
	}

	.logo {
		@include breakpoint (max-sm){
			img {
				width: 120px;
			}
		}
	}

	.mean__menu-wrapper {
		
		.main-menu {

			ul {
				li {
					
		
					a {
						
						color: $header-color-4;

						i {
							margin-left: 4px;
							font-size: 14px;
						}
			
						&:hover {
							color: $theme-color-4 !important;
						}
		
					}

				.submenu {
				
					background: $white;
					color: $header-color;
					border-top: 4px solid $theme-color-4;
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

					li {
						a {
						
							color: $header-color-4;

							&::before {
								background: $theme-color-4;
							}

							&:hover {
								color: $theme-color-4 !important;
							}
						}
						
				
						&:hover {
							>a {
								color: $theme-color-4 !important;

								&::after {
									color: $theme-color-4;
								}
							}
						}
					}
					li.has-dropdown {
						>a {
							&::after {
								color: $theme-color-4;
							}
						}
					}
				}

				.has-homemenu {
					.homemenu-items {
						.homemenu {
							.homemenu-thumb {
								
								.demo-button {
									left: 15px;
									right: 15px;

									.gt-theme-btn-main {
										width: initial;
										justify-content: initial;
										display: initial;
									}

									.gt-theme-btn {
											padding: 9px 25px;
									}

									.gt-theme-btn-arrow-right {
											margin-left: -5px;
									}
								}
							}
		
							.homemenu-title {
								text-align: center;
								font-family: $heading-font;
							}
						}
					}
				}
				
				&:hover {
					>a {
						color:  $theme-color-4;

						&::after {
							color:  $theme-color-4;
						}
					}
					>.submenu {
						visibility: visible;
						opacity: 1;
						transform: translateY(0px);
					}
				}
				}
			}
		}
	}

	.header-right {
		gap: 15px;
	}

	.mean__menu-wrapper {
			border-radius: 66.111px;
			border: 1px solid #EBE8E6;
			padding: 0 35px;
			@include flex;
			background-color: $white;

			@include breakpoint (max-xl){
				padding: 0;
				background-color: transparent;
				border: none;
			}
	}

	.sidebar__toggle {
		width: 51px;
		height: 51px;
		line-height: 51px;
		border-radius: 50%;
		border-radius: 66.111px;
		border: 1px solid #EBE8E6;
		background: $white;
		text-align: center;
		@include transition;
		color: $header-color-4;

		&:hover {
			background-color: $theme-color-4;
			border: 1px solid $theme-color-4;
			color: $white;
		}
	}

	.gt-theme-btn-arrow-right {
		margin-left: -5px;
	}

}

.header-5 {
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	z-index: 9999;

	.container {
		max-width: 1840px;
	}

	.header-left {
		@include flex;
		gap: 95px;
	}

	.header-right {
		gap: 15px;

		.gt-theme-btn-arrow-right {
			margin-left: -5px;
		}
	}

	.mean__menu-wrapper {
			
			.main-menu {

				ul {
					li {
						
			
						a {
							
							color: $header-color-4;

							i {
								margin-left: 4px;
								font-size: 14px;
							}
				
							&:hover {
								color: $header-color-4 !important;
							}
			
						}

					.submenu {
					
						background: $white;
						color: $header-color;
						border-top: 4px solid $theme-color-5;
						box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

						li {
							a {
							
								color: $header-color-4;

								&::before {
									background: $header-color-4;
								}

								&:hover {
									color: $header-color-4 !important;
								}
							}
							
					
							&:hover {
								>a {
									color: $header-color-4 !important;

									&::after {
										color: $header-color-4;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: $header-color-4;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									
									.demo-button {
										left: 15px;
										right: 15px;

										.gt-theme-btn-main {
											width: initial;
											justify-content: initial;
											display: initial;
										}

										.gt-theme-btn {
												padding: 9px 25px;
										}

										.gt-theme-btn-arrow-right {
												margin-left: -5px;
										}
									}
								}
			
								.homemenu-title {
									text-align: center;
									font-family: $heading-font;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color: $header-color-4;

							&::after {
								color:  $header-color-4;
							}
						}
						>.submenu {
							visibility: visible;
							opacity: 1;
							transform: translateY(0px);
						}
					}
					}
				}
			}
		}

	.header-main {
		padding: 0;

		@include breakpoint (max-xl){
			padding: 10px 0;
		}
	}

	.contact-info {
		display: inline-block;
		background-color: $white;
		padding-top: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
		padding-right: 20px;
		border-radius: 38px;

		@include breakpoint (max-xl){
			display: none
		};

		.icon {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			line-height: 48px;
			background-color: $theme-color-6;
			color: $header-color-4;
			font-size: 20px;
			display: inline-block;
			text-align: center;
		}

		.text {
			font-size: 16px;
			font-weight: 600;
			font-family: $heading-font;
			margin-left: 10px;
			color: $header-color-4;
		}
	}
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: all 0.9s;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;

   &.header-1 {
		background-color: $header-color;
		padding: 12px 0;
   }

   &.header-2 {
		background-color: $white;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }

   &.header-3 {
		background-color: $white;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }

   &.header-4 {
		background-color: $white;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }

   &.header-5 {
	background-color: $theme-color-6;

	.header-main {
		padding: 10px 0;
	}
   }
}

//>>>>> Offcanvas Start <<<<<//


.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 450px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 9999999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	&.style-3 {
		border-left: 2px solid $theme-color-3;
		.offcanvas__wrapper {

		.offcanvas__close {
			background-color: $theme-color-3;


			i {
				color: $white;
			}
		}

		.social-icon {
			a {
			

				&:hover {
					color: $theme-color-3;
					border: 1px solid $theme-color-3;
				}
			}
		}

    	.offcanvas__contact {
			
			ul {

				li {

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color-3;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

		
		}
}
	}

	&.style-2 {
		border-left: 2px solid $theme-color-2;
		.offcanvas__wrapper {

		.offcanvas__close {
			background-color: $theme-color-2;


			i {
				color: $white;
			}
		}

		.social-icon {
			a {
			

				&:hover {
					color: $theme-color-2;
					border: 1px solid $theme-color-2;
				}
			}
		}

    	.offcanvas__contact {
			
			ul {

				li {

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color-2;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

		
		}
		}
	}

	&.style-4 {
		border-left: 2px solid $theme-color-4;
		.offcanvas__wrapper {

		.offcanvas__close {
			background-color: $theme-color-4 !important;


			i {
				color: $white;
			}
		}

		.social-icon {
			a {
			

				&:hover {
					color: $theme-color-4;
					border: 1px solid $theme-color-4;
				}
			}
		}

    	.offcanvas__contact {
			
			ul {

				li {

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color-4;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

		
		}
}
	}

	&.style-5 {
		border-left: 2px solid $theme-color-5;
		.offcanvas__wrapper {

		.offcanvas__close {
			background-color: $theme-color-5 !important;


			i {
				color: $black;
			}
		}

		.social-icon {
			a {
			

				&:hover {
					color: $theme-color-5;
					border: 1px solid $theme-color-5;
				}
			}
		}

    	.offcanvas__contact {
			
			ul {

				li {

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color-5;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

		
		}
}
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__logo {
		@include breakpoint (max-sm){
			img {
				width: 130px;
			}
		}
	}

    .offcanvas__close {
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		border-radius: 50%;
		background-color: $theme-color;
		position: relative;
		cursor: pointer;


		i {
			color: $white;
		}
	}

	.offcanvas__content {
		.text {
			color: $text-color;
		}
	}

	.social-icon {
		margin-top: 40px;
        gap: 16px;
        @include flex;

        a {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 100px;
            border: 1px solid #E6E8EB;
            background: transparent;
            text-align: center;
            font-size: 18px;

            i {
                -webkit-transition: all 900ms ease;
                transition: all 900ms ease;
            }

            &:hover {
                color: $theme-color;
                border: 1px solid $theme-color;

                i {
                    -webkit-transform: rotateY(360deg);
                        transform: rotateY(360deg);
                }
            }
        }
    }

	.offcanvas__contact {
		margin-top: 0;

		h4 {
			font-size: 26px;
		}

		ul {
			margin-top: 30px;
			
			@include breakpoint (max-sm) {
				display: none;
			}

			li {
				font-size: 18px;
				font-weight: 400;
				text-transform: capitalize;

				@include breakpoint (max-sm) {
					font-size: 14px;
				}

				&:not(:last-child){
					margin-bottom: 30px;

					@include breakpoint (max-sm) {
						margin-bottom: 20px;
					}
				}

				a {
					color: $header-color;
				}
				.offcanvas__contact-icon {
					margin-right: 20px;

					i {
						color: $theme-color;
					}
				}
			}
		}

		span {
			text-transform: initial;
		}

		.header-button {
			
			.theme-btn {
				width: 100%;
				padding: 20px 40px;
				text-transform: capitalize !important;
			}
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 99999;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}

//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
	overflow: hidden;
    z-index: 9;
	border-radius: 0 0 20px 20px;

	.page-heading{
		position: relative;
		padding: 200px 0 120px;
		z-index: 9;
		text-align: center;

		@include breakpoint (max-md){
			text-align: center;
			padding-top: 150px;
			padding-bottom: 120px;
		}

		h1 {
			color: $white;
			font-size: 72px;
			position: relative;
			text-transform: capitalize;
			z-index: 9;
            font-weight: 500;
            letter-spacing: -2px;

		
		
			@include breakpoint(max-md){
				font-size: 60px;
			}
		
			@include breakpoint(max-sm){
				font-size: 50px;
			}
		
			@include breakpoint(max-xxs){
				font-size: 40px;
			}

		}

		.breadcrumb-items {
			@include flex;
			margin-top: 20px;
			gap: 10px;
			justify-content: center;

			@include breakpoint (max-sm){
				margin-top: 15px;
			}
			
			li{
				color: $white;
				text-transform: capitalize;
				font-weight: 400;
				font-size: 16px;
	
				a {
					color: $white;				;
					@include transition;

					i {
						color: $theme-color;
						margin-right: 9px;
					}
	
					&:hover{
						color: $theme-color;
                        opacity: 1;
					}

					i {
						color: $theme-color;
						margin-right: 5px;
					}
				}
	
				i {
					color: $white;
				}
			}
		}
	}
}

.error-items {
	text-align: center;
    position: relative;

	.error-image {
        img {
			@include imgw;
		}
	}

	h2 {
		font-size: 72px;
		font-weight: 500;
		letter-spacing: -2px;
		margin-bottom: 15px;

		@include breakpoint (max-sm){
			font-size: 30px;
		}

	}

	p {
        max-width: 722px;
		margin: 0 auto 40px;

		@include breakpoint(max-md){
			margin-bottom: 30px;
		}
	}
}